# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist
build

# Optional: Coverage reports
coverage

# IDE and Editor files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
