# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
myenvfile/
.env

# FAISS index files
faiss_watsonx_index/

# IDE or editor-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Compiled C extensions
*.so

# Other files
*.DS_Store
